@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

@media (min-width: 300px) {

    body {
        font-family: 'Montserrat', sans-serif;
        padding: 3%;
    }

    section {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    section > h2 {
        width: 90%;
        color: steelblue;
        font-size: 36px;
        border-bottom: 3px solid steelblue;
    }

    .skills {
        flex-direction: column;
        row-gap: 5vh;
    }

    #skills > div > aside {
        width: 15vh;
        height: 15vh;
        padding: 15%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #html-5 > aside {
        background: url("/img/html-5.png");
    }

    
    #css > aside {
        background: url("/img/css.png");
    }

    #javascript > aside {
        background: url("/img/javascript.png");
    }

    #sass > aside {
        background: url("/img/sass.png");
    }

    #github > aside {
        background: url("/img/github.png");
    }

    #github > p {
        padding-left: 4%;
    }

    .education {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }

    .education aside {
        width: 45vh;
        height: 25vh;
    }

    #tamwood-card > aside {
        background: url("/img/tamwood-logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #chula-card > aside {
        background: url("/img/chula-logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #seoul-card > aside {
        background: url("/img/seoul-university-logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    #unam-card > aside {
        background: url("/img/unam-logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card {
        align-items: center;
        padding: 2%;
    }
    
    .contact [type="text"],[type="email"], textarea {
        width: 90%;
        font-family: 'Montserrat', sans-serif;
        padding: 3%;
    }

    .contact > form > [class="d-flex"] {
        justify-content: space-evenly;
    }

    .btn {
        color: white;
        background-color: darkblue;
        font-weight: 600;
    }

    .btn:hover {
        background-color: steelblue;
    }

    .footer {
        background-color: darkblue;
        color: white;
        padding: 5%;
        text-align: center;
    }

    .footer > span {
        font-weight: bold;
    }
}

/*
1 - Plan the sections from your page
a) Footer
b) contact
c) education
d) skills
e) projects
f) about
g) header
*/